@model WM.Northwind.Entities.Concrete.EczaneNobet.CihazDurum

@{
    ViewBag.Title = "Cihaz Durum Sil | Dijital Ekran";
}

<h4>Cihaz Durum Sil</h4>
<hr />

<h5 class="text-danger">Silmek istediğinizden emin misiniz?</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adi)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
