@model WM.Northwind.Entities.Concrete.EczaneNobet.Cihaz

@{
    ViewBag.Title = "Cihaz Sil | Dijital Ekran";
}

<h4>Cihaz Sil</h4>
<hr />

<h5 class="text-danger">Silmek istediğinizden emin misiniz?</h5>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeriNu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeriNu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AlimTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AlimTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-danger" />
            @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
        </div>
    }
</div>
