@model WM.Northwind.Entities.Concrete.EczaneNobet.Cihaz

@{
    ViewBag.Title = "Cihaz Düzenle |  Dijital Ekran";
}
<h4>Cihaz Düzenle</h4>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="card">
        <div class="card-body">

            <div class="form-row">
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.AcilisTarihi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(model => model.Marka, new { @class = "form-control", autocomplete = "off", placeHolder = "Açılış Tarihi" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Marka, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.KapanisTarihi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(model => model.Model, new { @class = "form-control", autocomplete = "off", placeHolder = "Kapanış Tarihi" })
                    </div>
                    @Html.ValidationMessageFor(model => model.Model, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.TelefonNo, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-file-text" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.SeriNu, new { htmlAttributes = new { @class = "form-control", placeHolder = "Telefon" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.SeriNu, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.KapanisTarihi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(model => model.PingPeriyodu, new { @class = "form-control", autocomplete = "off", placeHolder = "Ping Periyodu" })
                    </div>
                    @Html.ValidationMessageFor(model => model.PingPeriyodu, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    Alım Tarihi
                    @*@Html.LabelFor(model => model.TelefonNo, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.AlimTarihi, new { htmlAttributes = new { @class = "form-control datepicker p-2", placeHolder = "Alım Tarihi" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.AlimTarihi, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-10">
                    Başlama Tarihi
                    @*@Html.LabelFor(model => model.MailAdresi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.BaslamaTarihi, new { htmlAttributes = new { @class = "form-control datepicker p-2", placeHolder = " Başlama Tarihi" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.BaslamaTarihi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.KapanisTarihi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-bookmark" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.TextBoxFor(model => model.ApiUrl, new { @class = "form-control", autocomplete = "off", placeHolder = "Api Url" })
                    </div>
                    @Html.ValidationMessageFor(model => model.ApiUrl, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10" style="display:none">
                    Başlama Tarihi
                    @*@Html.LabelFor(model => model.MailAdresi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.SonGuncellenmeTarihi, new { htmlAttributes = new { @class = "form-control datepicker p-2", placeHolder = "Son Güncellenme Tarihi" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.SonGuncellenmeTarihi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.MailAdresi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.BitisTarihi, new { htmlAttributes = new { @class = "form-control datepicker p-2", placeHolder = "Bitiş Tarihi" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.BitisTarihi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.WebSitesi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-tint" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.WiFiKullaniciAdi, new { htmlAttributes = new { @class = "form-control", placeHolder = "WiFi Kullanıcı Adı" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.WiFiKullaniciAdi, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.WebSitesi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-tint" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.WiFiParola, new { htmlAttributes = new { @class = "form-control", placeHolder = "WiFi Parola" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.WiFiParola, "", new { @class = "text-danger" })
                </div>
                <div class="form-group col-md-10">
                    @*@Html.LabelFor(model => model.WebSitesi, htmlAttributes: new { @class = "control-label" })*@
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-2">
                                <i class="fa fa-tag" aria-hidden="true"></i>
                            </span>
                        </div>
                        @Html.EditorFor(model => model.Aciklama, new { htmlAttributes = new { @class = "form-control", placeHolder = "Web Sitesi" } })
                    </div>
                    @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
                </div>

                <div class="form-group col-md-10">
                    Kullanıcı
                    @*@Html.LabelFor(model => model.NobetUstGrupId, "Üst Grup", htmlAttributes: new { @class = "control-label col-2" })*@
                    @Html.DropDownList("GrupId", null, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group col-md-10">
                    Çözünürlük
                    @*@Html.LabelFor(model => model.NobetUstGrupId, "Üst Grup", htmlAttributes: new { @class = "control-label col-2" })*@
                    @Html.DropDownList("CozunurlukId", null, htmlAttributes: new { @class = "form-control" })
                </div>

                <div class="form-group col-md-10">
                    Cihaz Durumu
                    @*@Html.LabelFor(model => model.NobetUstGrupId, "Üst Grup", htmlAttributes: new { @class = "control-label col-2" })*@
                    @Html.DropDownList("CihazDurumId", null, htmlAttributes: new { @class = "form-control" })
                </div>
            </div>

            @*<div class="form-group" style="display:none">
            @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId, new { htmlAttributes = new { @class = "form-control form-control-sm" } })
                @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
            </div>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" id="btnSubmitForm" />
                @Html.ActionLink("Listeye Dön", "Index", null, new { @class = "btn btn-warning" })
            </div>

        </div>
    </div>
}

@section Styles{
    @Styles.Render("~/bundle/bootstrap-datepicker/style")
}

@section Scripts{
    @Scripts.Render("~/bundle/bootstrap-datepicker/scripts")
    @Scripts.Render("~/bundle/ajax")
    @*@Scripts.Render("~/bundle/validation/scripts")*@

    <script>
        //$("#btnSubmitForm").click(function () {
        //    $("#Enlem").text().replace(".", ",");
        //    $("#Boylam").text().replace(".", ",");
        //});
        $(function () {
            var bslStr = tarihDondur2($("#AcilisTarihi").val());
            var bsl = new Date(bslStr);
            $("#AcilisTarihi").datepicker("setDate", new Date(bsl));
        });

        function tarihDondur2(metin) {

            var tarih = metin.split(' ', 1)[0];
            var tarihTanim = tarih.split(".");
            //var tarihTanim = metin.substring(0, 10).split(".");

            yil = tarihTanim[2];
            ay = tarihTanim[1];
            gun = tarihTanim[0];

            if (gun.length != 4) {
                return yil + "." + ay + "." + gun;
            }
            else {
                //alert(gun)
                return metin;
            }
        }
    </script>

}